*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box{
    background-image: url('./images/banner-bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
   width: 100vw;
   height: 750px;
   padding-left: 20px;
   padding-top: 0px;
}
#nav{
    padding-top: 18px;
    margin-bottom: -60px; 
    background-color: transparent;
    color: white;
   /* border-color: transparent; */
    display: flex; 
    align-items: center;
    justify-content: start; 
    /* color: black; */

}
#logo{
    display: flex;
    /* padding-top: 10px; */
    margin-left: 80px;
    margin-right: 300px;
    /* width: 50px;
    height: 50px; */
    
}

#nav .texxt{
    display: flex;
    gap: 85px;
    color: white;
    text-decoration: none;
    font-size: 22px;
}
#nav .navtext{

    text-decoration: none;
    color: #fff;
    
}
#nav .texxt:hover{
    cursor: pointer;
    /* text-decoration: underline; */
}

#nav .navicons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-left: 135px;
    margin-top: 4px;
   text-align: center;
}

#nav .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 18, 18);
    border-radius: 60%;
    border: 1px solid #B8B8B8;
    padding: 8px 8px;
    height: 35px;
    width: 35px;
   
    /* text-align: center; */
}
#nav .icon:hover{
    transform: scale(1.3);
}

#billi img{
    /* border: 2px solid #B8B8B8; */
    /* background-color: whi; */
    padding-top: 1px;
    filter: invert(94%);
    border-radius: 50%;
    width: 35px;
    height: 35px;
  
}
#billi img:hover{
    transform: scale(1.3);
}
.btn{
    margin-left: 220px;
}

/* @media only screen and (max-width: 464px){
   .logo{
     
   }
   .navtext{
    visibility: hidden;
   }
   .icons{
     margin-right: 0px;
   }

} 

@media (min-width: 464px) and (max-width: 1024px){

}
@media (min-width: 1024px) and (max-width: 3000px){
    
}
@media (min-width: 3000px){
    
} */
.left{
    width: 800px;
    height: 800px;
    margin-left: 55px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#heading{
    width: 800px;
    background-color: transparent;
    font-size: 55px;
    margin-bottom: 15px;
}
.lines{
    width: 500px;
    background-color: transparent;
    letter-spacing: 2px;
    font-size: 28px;
}
#wlcm{
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    padding: 8px 10px;
    border: 2px solid rgb(211, 206, 206);
    border-radius: 6px;
    font-size: 28px;
    margin-bottom: 18px;
}

.man{
    background-color: transparent;
}
.man img{
    background-color: transparent;
    padding-top: 0px;
    height: 45vh;
    width: 45vw;
    animation: updown 2.8s linear infinite;
}
@keyframes updown{
    0% {
    transform: translateY(-25px);
    }

     50% {
    transform: translateY(25px);
    }

    100% {
    transform: translateY(-25px);
    }
}

#skillbox{
    padding-top: 0px ;
    position: relative;
    color: white;
   width: 100%;
   height: 680px;
   background-image: url('./images/banner-bg.png');
   /* background: #151515; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}


  #skillbox h2 {
    margin-top: -120px;
    align-self: center;
    font-size: 40px;
    /* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
    padding: 4px 8px;
    /* border: 1.7px solid rgb(211, 206, 206); */
    /* border-radius: 6px; */
    width: 200px;
    margin-bottom: 18px;
    
  }
  #skillbox p {
      color: white;
      font-size: 18px;
      letter-spacing: 0.5px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
      width: 70%;
      align-self: center;
  }
  .skill-slider {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .skill-slider .item img {
    width: 50%;
    margin: 0 auto;
  }

  /* .background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
  } */

  /* .exp{
       background-color: black;
       border-radius: 50%;
       border: 40px linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
       height: 80px;
       width: 80px;
       text-align: center;
       color: white;
       border-color: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  } */

#page3{
    /* background: #151515; */
    /* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
    background-image: url('./images/banner-bg.png');
    color: white;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
}
#title{
    margin-top: 10px;
    font-size: 40px;
    /* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
    padding: 4px 8px;
    /* border: 1.7px solid rgb(211, 206, 206); */
    /* border-radius: 6px; */
    width: 200px;
    margin-bottom: 18px;

}

/* .tabBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}

.tabs{
    display: inline-block;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid #B8B8B8;
  height: 50px;
  width: 15%;
  margin: 2px 0.3px;
 
}
.tabs:nth-child(1){
    /* border-top-left-radius: 20%;
    border-bottom-left-radius: 20%; */
    /* border-radius: 20px;
    width: 250px; */
  /* position: absolute; */
/* } */


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.firstthree{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 1200px;
   height: 200px; */
    /* background-color: rebeccapurple; */
    gap: 40px;
}

.lastTwo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 800px;
    gap: 40px;
}
.cards{
    /* display: grid; */
    background-color: red;
    border-radius: 40px;
    margin: 2px 20px;
    height: 250px;
    width: 350px;
    border-radius: 20px;
    position: relative;
    transition: 0.3s ease-in-out;
}
.cards a{
    width: 100%;
    height: 100%;
    display: block;
}

#beforeBox {
    display: none;
    /* opacity: 0; */
}

.cards::before{
    content: "";
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    border-radius: 8px;
    opacity: 0.85;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.cards:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.2);
}
.cards:hover::before{
    /* transition: 0.5s ease-in-out; */
    height: 100%;
   
}
.cardbtn{
    width: 80px;
    height: 30px;
    margin-top: 100px;
}
.cardimg{
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.pjtText .name{
    color: #AA367C;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}

.cardimg:hover .name{
    /* color: white; */
    top: 50%;
   opacity: 1;
}
.pjtText .name{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
      
}
/* .cards:active{
    
} */



